<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambahkan Komentar</title>
</head>

<body>
    <h2>Pesan</h2>
    <ul id="message-list">
        {% for message in messages %}
        <li style="background-color:{{message.color}}; width:20em; padding-bottom:2em;">{{message.name}} - {{message.message}}
            <form action="/update/" method="POST">
                {% csrf_token %}
                <input type="text" value={{message.id}} id="id" name="id" hidden>
                <input type="color" placeholder="Pilih warna" id="color" name="color">
                <button type="submit">.</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action="/confirm/" method="POST">
        {% csrf_token %}
        <p>
            <input type="text" name="name" id="name" placeholder="Masukan nama">
        </p>
        <p>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Masukan pesan"></textarea>
        </p>

        <button type="submit">Tambah</button>
    </form>
</body>

</html>